DAM1/Lenguaje de Marcas/3. Eval/XML/XSD/ariketa05/ariketa05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="fitxak">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fitxa" minOccurs="1" maxOccurs="unbounded">
                <!--maxOccurs="unbounded" si tenemos 2 fitxa podemos poner 2, 3, 4... para especificar un limite, 
                pero si queremos especificar que no hay un limite ponemos unbounded-->
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="izena" type="xs:string"/>
                            <xs:element name="adina" type="xs:integer"/>
                        </xs:sequence>
                        <xs:attribute name="zbk" type="xs:integer"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>