DAM1/Lenguaje de Marcas/3. Eval/azterketatxuleta/proba3/proba.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Instituto">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Profesores">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Profesor" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Nombre" type="xs:string" />
                                        <xs:element name="Asignatura" type="xs:string" />
                                        <xs:element name="Departamento" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="id" use="required" />
                                    <xs:attribute name="dni" use="required" />
                                    <xs:attribute name="email" use="required" />
                                    <xs:attribute name="telefono" type="xs:integer" use="required" />
                                    <xs:attribute name="fechaNacimiento" type="xs:date"
                                        use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Alumnos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Alumno" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Nombre" type="xs:string" />
                                        <xs:element name="Edad" type="xs:string" />
                                        <xs:element name="Curso" type="xs:string" />
                                        <xs:element name="Grupo" type="xs:string" />
                                        <xs:element name="Tutor">
                                            <xs:complexType>
                                                <xs:attribute name="ref" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" use="required" />
                                    <xs:attribute name="dni" use="required" />
                                    <xs:attribute name="email" use="required" />
                                    <xs:attribute name="telefono" type="xs:integer" use="required" />
                                    <xs:attribute name="fechaNacimiento" type="xs:date"
                                        use="required" />
                                    <xs:attribute name="direccion" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="nombre" use="required" />
            <xs:attribute name="direccion" use="required" />
            <xs:attribute name="ciudad" use="required" />
            <xs:attribute name="telefono" type="xs:integer" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>