DAM1/Lenguaje de Marcas/3. Eval/azterketatxuleta/proba6/proba6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="tienda">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pedidos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="pedido">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="cliente">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="nombre" type="xs:string" />
                                                    <xs:element name="direccion">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="calle"
                                                                    type="xs:string" />
                                                                <xs:element name="codigoPostal"
                                                                    type="xs:string" />
                                                                <xs:element name="ciudad"
                                                                    type="xs:string" />
                                                                <xs:element name="provincia"
                                                                    type="xs:string" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="telefono">
                                                        <xs:complexType>
                                                            <xs:attribute name="num"
                                                                type="xs:integer" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="id" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="productos">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="producto"
                                                        maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="descripcion"
                                                                    type="xs:string" />
                                                            </xs:sequence>
                                                            <xs:attribute name="id" use="required" />
                                                            <xs:attribute name="cantidad"
                                                                type="xs:integer" use="required" />
                                                            <xs:attribute name="precioUnitario"
                                                                type="xs:decimal" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="descuento" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="id" use="required" />
                                    <xs:attribute name="fecha" type="xs:date" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:integer" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>