DAM1/Lenguaje de Marcas/3. Eval/azterketatxuleta/proba4/proba4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="empresa">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string" />
                <xs:element name="direccion">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="calle" type="xs:string" />
                            <xs:element name="codigoPostal" type="xs:string" />
                            <xs:element name="ciudad" type="xs:string" />
                            <xs:element name="provincia" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="empleados">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="empleado" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre" type="xs:string" />
                                        <xs:element name="telefono" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="tipo" use="required" />
                                                <xs:attribute name="num" type="xs:integer"
                                                    use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="email" type="xs:string" />
                                        <xs:element name="fechaIncorporacion" type="xs:string" />
                                        <xs:element name="departamento" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="id" use="required" />
                                    <xs:attribute name="activo" type="xs:boolean" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:integer" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>