DAM1/Lenguaje de Marcas/3. Eval/XML/XSD/ariketa06/6.1/ariketa06-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ikaslea">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nan" type="xs:integer"/>
                <xs:element name="izena" type="xs:string"/>
                <xs:element name="helbidea">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="kalea" type="xs:string"/>
                            <xs:element name="zbk" type="xs:integer"/>
                            <xs:element name="herria" type="xs:string"/>
                            <xs:element name="probintzia" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="telefonoa" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>